
<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filter
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="flex gap-5">
<!--      <mat-form-field>-->
<!--        <mat-label>Name</mat-label>-->
<!--        <mat-select [(ngModel)]="filterType.name" (ngModelChange)="changFilterType($event, 'name')">-->
<!--          <mat-option value="asc">ASC</mat-option>-->
<!--          <mat-option value="desc">DESC</mat-option>-->
<!--        </mat-select>-->
<!--      </mat-form-field>-->
      <mat-form-field>
        <mat-label>Status</mat-label>
        <mat-select [(ngModel)]="filterType.status" (ngModelChange)="changFilterType()">
          <mat-option value="Alive">Alive</mat-option>
          <mat-option value="Dead">Dead</mat-option>
          <mat-option value="unknown">Unknown</mat-option>
          <mat-option value="All">All</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Gender</mat-label>
        <mat-select [(ngModel)]="filterType.gender" (ngModelChange)="changFilterType()">
          <mat-option value="Male">Male</mat-option>
          <mat-option value="Female">Female</mat-option>
          <mat-option value="All">All</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </mat-expansion-panel>
</mat-accordion>

